.greeting {
    display: flex;
    align-items: flex-start;
}

.inputDiv{
    margin-right: 10px;
}

.input {
    background: skyblue;
    border: 2px solid darkblue;
    color: darkblue;
}

.input:focus {
    outline: none;
}

.errorInput {
    border: 1px solid red;
    background: skyblue;
    color: darkblue;
}

.error {
    color: red;
    height: 20px;
}

